
*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}

body{ background-color: rgb(200,200,200);}

.navbar{margin-top: 1px;}

.navbar-brand img{ 
	height: 30px;
	width: 40px;
}
.navbar-brand h1{
	color: #fff;
}

.navbar-nav li a{
	text-decoration: none;
}

.navbar-item{
	margin-right: 40px;

}
.navbar-link{
	font-size: 20px;
	color: rgb(250,250,250);

}
.dropdown-menu a:hover{
		background-color: rgba(20,22,50);
		color: #fff;
}
.carousel-inner img{
	height: 90%;
	width: 90%
}
.padding{
	padding-bottom: 2rem;
}
.welcome{
	width:75%;
	margin:0px auto;
	padding-top:.3rem;
}
.fab{
	margin: 20px ;
	color: #e54d26;
	size: 3rem;

}
footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
}
@media only screen and (max-width: 768px){
  .navbar-nav{
  	width: 100%;
  }
  #demo{
  	text-align: center;
  }
  .btn-info{
  	transform: translateX(350%);
  	margin-bottom: 1rem;
  }
  .carousel-inner{
  	transform: translateX(6%);
  }
}

@media only screen and (max-width: 425px)
{
	  .btn-info{
  	transform: translateX(150%);
  	margin-bottom: 1rem;
  }
  .carousel-inner{
  	margin-top: 1rem;
  	transform: translateX(2%);
  }
  .card{
  	height: 90%;
  	width: 90%
  }
  .display-4{
  	font-size: 40px;
  }
}